*{
    margin:0;
    padding:0;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("back5.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.header{
    height:15%;
    display:flex;
    align-items:left;
    overflow:hidden;
    position:relative;
}
.logo{
    width:100px;
    cursor: pointer;
}
.welcome-text{
    text-align: center;
    margin-top: 12%;
}
.welcome-text h1{
    font-size: 80px;
    font-style: italic;
    color:rgba(247, 243, 241, 0.973);
}
.btn{
    cursor: pointer;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    padding:10px 30px;
    border:2px solid ;
    background: transparent;
    text-decoration:none;
    text-align:right;
    font-weight:bold;
    margin: 40px 8px;
}
.btn:hover{
    color:rgb(10, 10, 10);
    background-color:rgb(250, 243, 243);
}